#blog h3, h4{
    text-align: center;

}

#blog .contenedor {
    display: flex;  /* pone las imagenes en una sola linea */
    justify-content: center;
    flex-wrap: wrap; /* pone los elementos que no caben uno debajo del otro*/
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;

}