
.icon-menu:before { content: '\e800'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
